<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
    
  	<div class="container-fluid navbar-container m-sm-5">
      <!-- Header -->
      <%- partial('_partial/header') %>
      
  		<div class="row">
      <!--     <div class="row tags-filter ">
            <a href="#"> <span class="tag">WEB</span> </a>
            <a href="#"> <span class="tag">APP</span> </a>
            <a href="#"> <span class="tag">Graphic</span> </a>
            <a href="#"> <span class="tag">UI</span> </a>

            <script>
              $(document).ready(function(){
                $('.tag').click(function(){
                  if ($('tag').hasClass('active') == false ){
                    $(this).addClass('active');    
                  }else{
                    $(this).removeClass('active');
                  }
                  
                });
            
            </script>
          </div>     -->
  			<%- body %>
      </div>
      <% if (page.total > 1) { %>
    <nav class="page-nav">
        <%- paginator({prev_text: '<', next_text: '>'}) %>
    </nav>
<% } %>
  	</div>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
