<div class="col-12 mb-4">
  <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
</div>
      
<div class="col-12 col-lg-8 offset-lg-2 pt-3 titleSection">
  <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
  <% if (item.tags.length) { %>
    <div class="tags-container">

        <% for(var i = 0; i< item.tags.length ; i++){ %>
          <% if (item.tags.data[i]) { %>
          <span class="tag">
              <%- item.tags.data[i].name %>
          </span>
          <% } %>
        <% } %>
  
    </div>
    <% } %>
  </div><!-- titleSection -->
<div class="col-12 col-lg-8 offset-lg-2 pt-lg-3 mb-4 portfolioSection">
  <%- item.content %>  
</div><!-- portfolioSection -->

<div class="col-12 col-lg-10 offset-lg-1 d-flex justify-content-between navigateSection">
  <% if(false){ %>
    <a href="<%- '../../../../' + page.prev.canonical_path %>">prev</a>
  <% }else{ %>  
    <a class="d-flex align-items-center" href="#">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="20" y1="12" x2="4" y2="12"></line><polyline points="10 18 4 12 10 6"></polyline></svg>
      上一篇
    </a>
  <% } %>
    
  <% if(false){ %>
    <a href="<%- '../../../../' + page.next.canonical_path %>">next</a>
  <% } else { %>
    <a class="d-flex align-items-center" href="#">
      下一篇
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="4" y1="12" x2="20" y2="12"></line><polyline points="14 6 20 12 14 18"></polyline></svg>      
    </a>
  <% } %>
    
</div><!-- navigateSection -->