<div class="col-12 mb-4">
  <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
</div>
      
<div class="col-12 col-lg-8 offset-lg-2 pt-3 titleSection">
  <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
  <% if (item.tags.length) { %>
    <div class="tags-container">

        <% for(var i = 0; i< item.tags.length ; i++){ %>
          <% if (item.tags.data[i]) { %>
          <span class="tag">
              <%- item.tags.data[i].name %>
          </span>
          <% } %>
        <% } %>
  
    </div>
    <% } %>
  </div><!-- titleSection -->
<div class="col-12 col-lg-8 offset-lg-2 pt-lg-3 mb-4 portfolioSection">
  <%- item.content %>  
</div><!-- portfolioSection -->
<div class="col-12 col-sm-4 offset-sm-4 col-lg-2 offset-lg-5 d-flex flex-column thankSection">
    <a class="text-center d-flex flex-column" role="button" id="gotoTop">
      <span>感謝你的觀看：）</span>
        回到最上面
    </a>
</div><!-- thankSection -->
<div class="col-12 col-lg-10 offset-lg-1 my-5 my-md-4 my-lg-0 d-flex justify-content-between navigateSection">
  <% if(page.prev){ %>  
    <a class="d-flex align-items-center" href="<%- '../../../../' + page.prev.canonical_path %>">
      <img src="/images/svg/arrow-left.svg"/>      
      <p class="d-flex flex-column align-items-start mb-0 ml-md-3">
        <span>上一篇</span>
        <%= page.prev.title %>
      </p>
    </a>
  <% }else{ %>  
    <a class="d-flex align-items-center" href="#"></a>
  <% } %>
      
  <% if(page.next){ %>
    <a class="d-flex align-items-center" href="<%- '../../../../' + page.next.canonical_path %>">
      <p class="d-flex flex-column align-items-end mb-0 mr-md-3">
        <span>下一篇</span>
        <%= page.next.title %>
      </p>
      <img src="/images/svg/arrow-right.svg"/>
    </a>
  <% } else { %>
    <a class="d-flex align-items-center" href="#"></a>
  <% } %>
</div><!-- navigateSection -->
