<div class="col-md-6 col-12 mb-4">
  <div class="hovereffect" onclick="javascript:window.location = '<%- config.root %><%- item.path %>'">
    <div>
      <img class="img-fluid portfolio-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
      <div class="overlay"></div>
      <p class="product-title"><%- item.title || theme.default_post_title || "Untitled" %></p>
    </div>
    <% if (item.tags.length) { %>
    <div class="tags-container">
      <% if (itemNum <= 1) { %>
        <% Object.keys(item.tags).map(function(key, index) { %>
        <span class="tag">
          <%- item.tags.data[index].name %>
        </span>
        <% }) %>
      <% } else { %>
        <% for(var i = 0; i< item.tags.length ; i++){ %>
          <span class="tag">
              <%- item.tags.data[i].name %>
            </span>
        <% } %>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
