<div class="col-12 mb-4">
  <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
</div>
      
<div class="col-12 col-lg-8 offset-lg-2 pt-3 titleSection">
  <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
</div>

<div class="col-1 col-sm-1 col-md-3 col-lg-3 pt-lg-3 mb-0 mb-md-4 portfolioSidebar">
  <div class="portfolioSidebar-container portfolioSidebar-relative d-flex flex-row justify-content-end">
    <div class="portfolioSidebar-h3list d-flex flex-column">
    </div>
    <div class="portfolioSidebar-progress">
    </div>
  </div>
</div>

<div class="col-12 col-sm-9 col-md-8 col-lg-8 pt-lg-3 mb-4 pb-md-0 pb-5 portfolioSection">
  <%- item.content %>
</div>

<div class="col-12 d-flex justify-content-center align-items-center thankSection">
  <a class="text-center mx-2" role="button" href="/resume/">
    <i data-feather="file-text"></i>Resume
  </a>
  <a class="text-center mx-2" role="button" target="_blank" href="mailto:lora860227@gmail.com">
    <i data-feather="send"></i>Contact
  </a>
  <a class="text-center mx-2" role="button" id="gotoTop">
    <i data-feather="arrow-up"></i>Top
  </a>
  <% if(page.prev){ %> 
  <a class="text-center mx-2 d-none" role="button" href="/<%- page.prev.path %>" id="previousPage">
    <i data-feather="arrow-left-circle"></i>Previous
  </a>
  <% } %>
  <% if(page.next){ %>
  <a class="text-center mx-2 d-none" role="button" href="/<%- page.next.path %>" id="nextPage">
    <i data-feather="arrow-right-circle"></i>Next
  </a>
  <% } %>
</div>

<div class="col-12 col-lg-10 offset-lg-1 my-5 my-md-4 my-lg-0 d-flex justify-content-between navigateSection">
  <% if(page.prev){ %>  
    <a class="d-flex align-items-center link-prevPage" href="" data-link="<%- page.prev.path %>">
      <img src="/images/svg/arrow-left.svg"/>
      <p class="d-flex flex-column align-items-start mb-0 ml-md-3">
        <span>Previous</span>
        <%= page.prev.title %>
      </p>
    </a>
  <% }else{ %>  
    <a class="d-flex align-items-center" href="#"></a>
  <% } %>
      
  <% if(page.next){ %>
    <a class="d-flex align-items-center link-nextPage" href="" data-link="<%- page.next.path %>">
      <p class="d-flex flex-column align-items-end mb-0 mr-md-3">
        <span>Next</span>
        <%= page.next.title %>
      </p>
      <img src="/images/svg/arrow-right.svg"/>
    </a>
  <% } else { %>
    <a class="d-flex align-items-center" href="#"></a>
  <% } %>
</div>

<script>
    //裝置寬度
    var deviceWidth = $(window).width();
    //break point
    var smSize = 767.9;

    $(document).ready(function(){
      toggleSmNavigation();
    });

    $(window).resize(function() {
        toggleSmNavigation();
    });

    function toggleSmNavigation() {
      if($('#previousPage').length != 0) {
        if(deviceWidth > smSize) {
          $('#previousPage').addClass('d-none');
        } else {
          $('#previousPage').removeClass('d-none');
        }
      }
      if($('#nextPage').length != 0) {
        if(deviceWidth > smSize) {
          $('#nextPage').addClass('d-none');
        } else {
          $('#nextPage').removeClass('d-none');
        }
      }
    }

    //讓大標題前面有方塊圖案
    $('.portfolioSection h3').prepend('<img src="../images/dot.png" height="36px" class="" />');
    
    //讓文章底下感謝區域，顯示來客名字
    var guestName = window.location.hash;
    if(guestName && guestName != '#goToWorks'){
      $('.thankSection p span').append( decodeURI(guestName).slice(1) + '，');
    }
    //把來客名字傳到下一頁
    var nextLink = $('.link-nextPage').data('link');
    var prevLink = $('.link-prevPage').data('link');
    $('.link-nextPage').attr('href', '../../' + nextLink + guestName);
    $('.link-prevPage').attr('href', '../../' + prevLink + guestName);
    
    var obj = $('.portfolioSection h3');
    
    //把作品集裡所有的大標題，弄成旁邊進度條的可點擊之Menu
    $.each( obj, function(key, value) {
      if( deviceWidth > smSize ){
        $('.portfolioSidebar-h3list').append('<a class="portfolioSidebar-Item" id="portfolioSidebar-Item-'+ key +'">'+value.textContent+'</a>');
      }else{
        $('.portfolioSidebar-h3list').append('<a class="portfolioSidebar-Item" id="portfolioSidebar-Item-'+ key +'">'+(key+1)+'</a>');
      }
    });

    $('.portfolioSidebar-Item').click(function() {
      var target = $(this).index();

      if( deviceWidth > smSize ){
        $('html, body').animate(
          {scrollTop: obj[target].offsetTop + 870}, 1000, "easeInOutExpo");
      }else{
        $('html, body').animate(
          {scrollTop: obj[target].offsetTop + 450}, 1000, "easeInOutExpo");
      }
    });
    
    $(window).scroll(function(){
      fixPortfolioSidebar();
      progessBar();
    });
    
    function fixPortfolioSidebar(){
      var addSticky = $('.titleSection').offset().top + 100;
      if( deviceWidth >= smSize ){
          if (window.pageYOffset >= addSticky) {
            $('.portfolioSidebar-container').addClass('portfolioSidebar-sticky');
            $('.portfolioSidebar-container').removeClass('portfolioSidebar-relative');
          } else {
            $('.portfolioSidebar-container').removeClass('portfolioSidebar-sticky'); 
            $('.portfolioSidebar-container').addClass('portfolioSidebar-relative');
          }
        }else{
          if (window.pageYOffset >= addSticky-150) {
            $('.portfolioSidebar-container').css('opacity','1');
            $('.portfolioSidebar-container').addClass('portfolioSidebar-sticky');
            if(window.innerHeight <= 680){
              $('.portfolioSidebar-sticky').css('top','53vh');
            }
          }else{
            $('.portfolioSidebar-container').css('opacity','0');
          }

        }
    }
    
    //計算progress bar的長度，依照抵達的頁面高度而變化
    function progessBar(){
      var totalHeight = $(document).height() - window.innerHeight; //整個頁面的長度 扣掉 使用者瀏覽器的高度
      var currentHeight = window.pageYOffset;
      $('.portfolioSidebar-progress').css('height', currentHeight / totalHeight * 100 +'%');
    }

    function copyUrl(url) {
      const $temp = $('<input>');
      const text = url;

      if(text != '' || text != null || text != undefined) { 
        $('body').append($temp);
        $temp.val(text).select();
        document.execCommand('copy');
        $temp.remove();
        popUpDialog(`The URL has been copied to your clipboard.`);
      }
    }
  </script>
